*{
	margin:0;
	padding:0;
	font-family:tahoma, arial;
}
#tytul{
	background-color:#3BC74E;
	width:100%;
	height:7vh;
	text-align:center;
}

header{
	height:7vh;
}

#nazwa{
	color:white;
}

ul#menu1 li {
  display:inline;
}

#menu1{
  position: relative;
  float:right;
}

#menu{
	float:left;
	width:15%;
	min-height:250vh;
	background-color:#329B66;		
}

#tresc{
	float:left;
	width:85%;
	min-height:250vh;
	background-color:#FDFCCB;
	text-align:center;
}

#stopka{
	background-color:#C5B692;
	height:20px;
	width:100%;
	float:left;
	text-align:center;
}

td{
	height:30vh;
}

th{
	width:200px;
	text-align:center;
}

table{
	border-collapse: separate;
	border:0.8vh solid saddlebrown;
	background-color: #DEBE42;
}

th, td{
	border:0.5vh solid saddlebrown;
	border-collapse: collapse;
	padding: 8px;
	background-color: #DEBE42;
	text-align:center;
	border-radius:10%;
}

.link{
	color:white;
	text-decoration:none;
	background-color:#027702;
	border: 5px solid #027702;
}

.link:hover{
	color:#55FA55;
	transition:0.5s;
	background-color:#035603;
}

.link1{
	color:white;
	text-decoration:none;
	background-color:#A78206;
	border: 5px solid #A78206;
}

.link1:hover{
	color:#F5CC40;
	transition:0.5s;
	background-color:#6C5405;
}

#wyszukaj{
	margin-top:5vh;
	font-size:40px;
	color:white;
}


.Napis:hover{
	transition: 1s;
	background-color:#685404;
	font-size:20px;
}

.Napis{
	font-size:0px;
}


.zdjecie{
	width:90%;
	height:90%;
}

img.zdjecie:hover{
	opacity:0;
	transition:0.6s;
}

.opis1{
	width:300px;
}

#wypowiedz{
	margin:2vh;
	font-weight:bold;
	color:#618415;
}

#pods{
	font-weight:600;
	color:#618415;
}

.wyj{
	color:#618415;
}

footer{
	font-style:italic;
	color:white;
	text-align:right;
	padding-right:3vh;
}