body{
	background: linear-gradient(0deg, rgba(0,170,50,1) 3%, rgba(127,34,195,1) 44%, rgba(0,3,65,1) 90%);
	font-family:Bebas Neue;

}	
	
#all{
	width:70vw;
	height:155vh;
	margin:0 auto;	
}	

#title{
	width:70vw;
	height:20vh;
	text-align:center;
	font-size:5rem;
}

#content{
	height:50vh;
	width:70vw;
	text-align:center;

}

#links{
	height:15vh;
	width:70vw;
	text-align:center;
	margin-top:2vh;
}
	
header{
	color:#33ff00;
	padding-top:5vh;
}	

p{
	color:#33ff00;
	font-size: 1.5rem;
}	
.quest{
	color:#72e5be;
}	

a{
	text-decoration:none;
	font-size:3rem;
	color:#33ff00;
	padding-right:3vw;
	padding-left:3vw;
}	

a:hover{
	color:#230d4d;
}	

@media (orientation: landscape) and (max-width: 320px){
	#content{
		height:90vh;
		margin-bottom:10vw;
	}
}	
@media (orientation: landscape) and (max-width: 600px){
	#content{
		height:90vh;
		margin-bottom:10vw;
	}
}
@media (orientation: landscape) and (max-width: 1000px){
	#content{
		height:90vh;
		margin-bottom:10vw;
	}
}	
@media (orientation: landscape) and (max-width: 1200px){
	#content{
		height:85vh;
		margin-bottom:10vw;
	}
}
@media (orientation: landscape) and (max-width: 1400px){
	#content{
		height:95vh;
	}
}
