body{
	background: linear-gradient(to bottom, #de9462 -10%, #1e427b 100%);
	font-family:Consolas;
	padding:0;
	overflow:auto;
	overflow-x: hidden;
}


#content{
	width:100vw;
	height:45vh;
	float:left;
	margin:5vh;
	
}	
article{
	color:#00289A;
	font-size:1.7rem;
	text-align:center;
	padding-right:10vw;
	padding-left:8vw;
	text-shadow: 1px 1px 0px #68b6ff;
}	


#title{
	width:90vw;
	height:30vh;
	padding-bottom:5vh;
	float:left;
	border-bottom:5px solid #3e2c0f;
	margin-left:5vw;
}	
h1{
	color:#00289A;
	text-align:center;
	font-size:6rem;
	font-weight:bold;	
	text-shadow: 4px 4px 0px #2487e5;
}

.test{
	margin-top:3vh;
	width:35vw;
	height:45vh;
	float:left;	
	margin-bottom:3vh;
}


#form1{
	width:90vw;
	height:47vh;
	margin-left:10vw;	
}	


input[type=text],[type="password"],[type="email"]{
	color:#00289A;
	border-radius: 10px;
	box-sizing: border-box;
	border:4px solid #103c66;
	background-color:#bedfff;
	width:10vw;
	height:5vh;
}

input[type=text]:focus{
	border:4px solid #185a99;
	background-color:#93cbff;
	width:17vw;
	transition: width 0.7s ease-in-out;
}

::-webkit-input-placeholder {
color: #5D513C;
}

label{
	color:#000c2e;
	text-shadow: 0.5px 0.5px 0px #006CFF;
	font-size:1.5rem;
	margin:0;
}


select{
	border-radius:10px;
	border:4px solid #103c66;
	background-color:#bedfff;
	width:10vw;
	height:5.5vh;
	font-family:Consolas;
	color:#00289A;
	font-size:1.1rem;
}	
select:focus{
	background-color:#93cbff;
}


textarea{
	border-radius:10px;
	border:4px solid #103c66;
	background-color:#bedfff;
	width:20vw;
	height:6vh;
}
textarea:focus{
	background-color:#93cbff;
	border:6px double #103c66;
	transition: width 0.7s ease-in-out;
}		


input[type=submit],[type=reset] {
  background-color: #bedfff;
  color:#613C00;
  border-radius: 30px;
  cursor: pointer;
  width:6vw;
  height:4vh;
  margin-left:3vw;
  border: 4px solid #103c66;
}

input[type=submit]:hover {
  background-color:#613C00 ;
  color:#bedfff;
}
input[type=reset]:hover {
  background-color:#613C00 ;
  color:#bedfff;
}	


#foot{
	float:left;
	width:80vw;
	height:10vh;
	text-align:right;
	margin-left:10vw;
	margin-top:9vh;
	border-top:5px solid white;
	margin-bottom:5vh;
}
footer{
	font-size:1.2rem;
	padding-top:4vh;
	color:white;
}	

a{
	text-decoration: none;
	color:white;
}

a:hover{
	color:#AD6C00;
}
	

.container {
  display: block;
  position: relative;
  padding-left: 3.7vw;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.4rem;

}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5vw;
  width: 1.5vw;
  background-color: #103c66;
  border-radius: 50%;
  margin-right:10vw;
}

.container input:checked ~ .checkmark {
  background-color: #bedfff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

@media (orientation: portrait) and (max-device-width: 320px)
{

	input[type=text]{
		width:27vw;
		height:5vh;
	}
	select{
		width:30vw;
		height:5vh;
	}	
	input[type=submit],[type=reset] {
		width:17vw;
		height:5vh;
		margin-left:2vw;
	}
	textarea{
		height:5vh;
		width:45vw;
	}	
	input[type=text]:focus{
		width:20vw;
	}  
	#form{
		margin-left:10vw;
	}	
	.test{
		height:40vh;
		width:100vw;
	}
	#pp{
		font-size:6rem;
	}	
	article{
		font-size:1rem;
	}
	#content{
		height:65vh;
	}
	label{
	font-size:1rem;
	}	
}
@media (orientation: portrait) and (min-device-width: 320px)
{
	input[type=text]{
		width:40vw;
		height:4vh;
	}
	select{
		width:30vw;
		height:4vh;
		font-size:2.5rem;
	}	
	input[type=submit],[type=reset] {
		width:23vw;
		height:3vh;
		margin-left:2vw;
		font-size:2rem;
		
	}
	textarea{
		height:5vh;
		width:55vw;
		font-size:2rem;
	}	
	input[type=text]:focus{
		width:60vw;
	}  
	#form{
		margin-left:10vw;
	}	
	.test{
		height:40vh;
		width:100vw;
	}
	#pp{
		font-size:7.6rem;
	}	
	article{
		font-size:3rem;
	}
	#content{
		height:90vh;
	}
	label{
	font-size:3rem;
	}	
	input{
		font-size:2.5rem;
	}	
	footer{
		font-size:2rem;
	}	
	.checkmark{
		height: 1.5vh;
		width: 1.5vh;
	}	
	.container {
		font-size:2.2rem;
	}	
}
@media (orientation: portrait) and  (min-device-width: 520px)
{
	input[type=text]{
		width:30vw;
		height:3vh;
	}
	select{
		width:20vw;
		height:3vh;
		font-size:1.4rem;
	}
	input[type=submit],[type=reset] {
		width:12vw;
		height:3vh;
		margin-left:1vw;
		font-size:1.4rem;
	}
	textarea{
		width:40vw;
		height:6vh;
		font-size:1.5rem;
	}	
	input[type=text]:focus{
		width:40vw;
	}  
	#form{
		margin-left:20vw;
	}
	#pp{
		font-size:6rem;
	}
	article{
		font-size:2.3rem;
	}	
	#content{
		height:55vh;
	}
	label{
	font-size:2rem;
	}
	.test{
		width:45vw;
		height:45vh;
	}
	input{
		font-size:1.2rem;
	}

}
@media (orientation: portrait) and   (min-device-width: 640px)
{
	input[type=text]{
		width:30vw;
		height:4vh;
	}
	select{
		width:30vw;
		height:4vh;
	}
	input[type=submit],[type=reset] {
		width:13vw;
		height:3vh;
		margin-left:1vw;
		font-size:1.4rem;
	}
	textarea{
		width:40vw;
		height:6vh;
	}	
	#form{
		margin-left:20vw;
	}
	article{
		font-size:2.1rem;
	}

	#content{
		height:75vh;
	}
	#pp{
		font-size:5.7rem;
	}
	label{
	font-size:2.5rem;
	}	
	input[type=text]:focus{
		width:40vw;
	}  
	input{
		font-size:1.4rem;
	}
	.test{
		width:45vw;
		height:54vh;
	}
}

@media (orientation: portrait) and (min-device-width: 800px)
{
	article{
		font-size:2.2rem;
	}
	#pp{
		font-size:6rem;
	}
	#title{
		height:30vh;
	}	
	input[type=text]{
		width:30vw;
		height:4vh;
	}
	select{
		width:20vw;
		height:4vh;
		font-size:1.5rem;
	}
	input[type=submit],[type=reset] {
		width:13vw;
		height:3vh;
		margin-left:1vw;
		font-size:1.1rem;
	}
	textarea{
		width:40vw;
		height:6vh;
	}	
	input[type=text]:focus{
		width:40vw;
	}   
	label{
		font-size:1.7rem;
	}
	input{
		font-size:1.1rem;
	}
	.test{
		width:45vw;
		height:45vh;
	}	
}

@media (orientation: portrait) and   (min-device-width: 1280px)
{
	article{
		font-size:1.5rem;
	}
	#pp{
		font-size:6rem;
	}
	input[type=text]{
		width:25vw;
		height:3vh;
	}
	select{
		width:20vw;
		height:4vh;
	}
	input[type=submit],[type=reset] {
		width:10vw;
		height:3vh;
		margin-left:1vw;
	}
	textarea{
		width:20vw;
		height:6vh;
	}	
	input[type=text]:focus{
		width:35vw;
	}   
	#title{
		height:30vh;
	}
}
@media (orientation: portrait) and  (min-device-width: 1600px)
{
	article{
		font-size:1.3rem;
	}
	input[type=text]{
		width:15vw;
		height:5vh;
	}
	select{
		width:20vw;
		height:5vh;
	}
	input[type=submit],[type=reset] {
		width:10vw;
		height:5vh;
		margin-left:1vw;
	}
	textarea{
		width:20vw;
		height:6vh;
	}	
	input[type=text]:focus{
		width:20vw;
	}   
	#form{
		margin-left:15vw;
	}
	#pp{
		font-size:5.5rem;
	}	
	#title{
		height:30vh;
	}
	
}

@media(orientation: landscape) and (min-device-width: 320px)
{ 	

	#content{
		height:95vh;
	}	
	.test{
		height:85vh;
		width:45vw;
	}
	#foot{
		height:15vh;
	}
	#title{
		height:50vh;
	}	
	#pp{
		font-size:5.5rem;
	}
	article{
		font-size:1.8rem;
	}
	input[type=text]{
		width:25vw;
		height:6vh;
	}
	select{
		width:20vw;
		height:6vh;
		font-size:1.3rem;
	}
	input[type=submit],[type=reset] {
		width:13vw;
		height:6vh;
		margin-left:1vw;
		font-size:1rem;
		
	}	
	textarea{
		height:10vh;
		width:35vw;
		font-size:1.3rem;
	}
	input[type=text]:focus{
		width:35vw;
	} 
	input{
		font-size:1.3rem;
	}	
	label{
		font-size:2rem;
	}
	.checkmark{
		height: 1.5vw;
		width: 1.5vw;
	}
}
@media(orientation: landscape) and (min-device-width: 600px)
{ 	

	#content{
		height:107vh;
	}	
	.test{
		height:90vh;
		width:45vw;
	}
	#foot{
		height:15vh;
	}
	#title{
		height:50vh;
	}	
	#pp{
		font-size:5.3rem;
	}
	article{
		font-size:1.8rem;
	}
	input[type=text]{
		width:25vw;
		height:7vh;
	}
	select{
		width:20vw;
		height:7vh;
		font-size:1.3rem;
	}
	input[type=submit],[type=reset] {
		width:13vw;
		height:7vh;
		margin-left:1vw;
		font-size:1rem;
		
	}	
	textarea{
		height:10vh;
		width:35vw;
		font-size:1.3rem;
	}
	input[type=text]:focus{
		width:35vw;
	} 
	input{
		font-size:1.3rem;
	}	
	label{
		font-size:2rem;
	}
	#foot{
		margin-top:12vh;
	}
}
@media(orientation: landscape) and (min-device-width: 1000px)
{ 	

	#content{
		height:100vh;
	}	
	.test{
		height:70vh;
		width:45vw;
	}
	#foot{
		height:15vh;
	}
	#title{
		height:50vh;
	}	
	#pp{
		font-size:6.5rem;
	}
	article{
		font-size:2rem;
	}
	input[type=text]{
		width:25vw;
		height:6vh;
	}
	select{
		width:20vw;
		height:6vh;
		font-size:1.3rem;
	}
	input[type=submit],[type=reset] {
		width:10vw;
		height:4.5vh;
		margin-left:1vw;
		font-size:1.1rem;
		
	}	
	textarea{
		height:10vh;
		width:35vw;
		font-size:1.3rem;
	}
	input[type=text]:focus{
		width:35vw;
	} 
	input{
		font-size:1.3rem;
	}	
	label{
		font-size:2rem;
	}
	#foot{
		margin-top:9vh;
	}	
}

@media(orientation: landscape) and (min-device-width: 1600px)
{ 	

	#content{
		height:95vh;
	}	
	.test{
		height:60vh;
		width:45vw;
	}
	#foot{
		height:15vh;
	}
	#title{
		height:50vh;
	}	
	#pp{
		font-size:7.5rem;
	}
	article{
		font-size:2.6rem;
	}
	input[type=text]{
		width:25vw;
		height:4vh;
	}
	select{
		width:20vw;
		height:4vh;
		font-size:1.2rem;
	}
	input[type=submit],[type=reset] {
		width:10vw;
		height:3.5vh;
		margin-left:1vw;
		font-size:1rem;
		
	}	
	textarea{
		height:10vh;
		width:35vw;
		font-size:1.3rem;
	}
	input[type=text]:focus{
		width:35vw;
	} 
	input{
		font-size:1rem;
	}	
	label{
		font-size:1.5rem;
	}	
}
