body{
	background: linear-gradient(to bottom, #103c66 30%, #93cbff 90%); background-size:contain;
	font-family: 'Shadows Into Light', cursive;
}	

#all{
	height:100vh;
}	
h1{
	text-align:center;
	color:#7FBFBF;
}	
a{
	text-decoration:none;
	color:#005959;
}	

#game{
	color:#33ff00;
}	

#forms{
	color:#00289A;
}
.tematy {
  list-style: none;  
}
.tematy li {
  float: left;
  margin: 3.5%;
}
.tematy li div {
  width: 195px;
  height: 195px;
  background: #ccc;
  padding: 10px;
  transition-duration: 0.5s;
}
.tematy li div a {
  font-size: 1.4rem;
  font-weight: normal;
}


.tematy li:nth-child(1) div {
  background: #cffdd5;
  transform: rotate(-10deg);
}

.tematy li:nth-child(2) div {
  background: 	#FF9D4C;
  transform: rotate(5deg);
}

.tematy li:nth-child(3) div {
  background-color: #D9CDFF;
  transform: rotate(-4deg);
}

.tematy li:nth-child(4) div {
  background-color: #fdf5cf;
  transform: rotate(10deg);
}
.tematy li:nth-child(5) div {
  background-color:#A5C5C9;
  transform: rotate(-20deg);
}
.tematy li:nth-child(6) div {
  background: linear-gradient(to bottom, #de9462 -10%, #1e427b 100%);
  transform: rotate(10deg);
}

.tematy li:nth-child(7) div {
  background: linear-gradient(0deg, rgba(0,170,50,1) 3%, rgba(127,34,195,1) 44%, rgba(0,3,65,1) 90%);
  transform: rotate(-14deg);
}
.tematy li:nth-child(8) div {
  background-color: #cfeafd;
  transform: rotate(7deg);
}

.tematy li:nth-child(1) div:hover {
 -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
}
.tematy li:nth-child(2) div:hover {
 -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
}
.tematy li:nth-child(3) div:hover {
 -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
}
.tematy li:nth-child(4) div:hover {
 -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
}
.tematy li:nth-child(5) div:hover {
 -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
}
.tematy li:nth-child(6) div:hover {
 -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
}
.tematy li:nth-child(7) div:hover {
 -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
}
.tematy li:nth-child(8) div:hover {
 -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
}
